@font-face {
  font-family: "iconfont"; /* Project id 4063891 */
  src: url('//at.alicdn.com/t/c/font_4063891_04dcz4d0ky39.woff2?t=1684242710890') format('woff2'),
       url('//at.alicdn.com/t/c/font_4063891_04dcz4d0ky39.woff?t=1684242710890') format('woff'),
       url('//at.alicdn.com/t/c/font_4063891_04dcz4d0ky39.ttf?t=1684242710890') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-066bianjizhanghu:before {
  content: "\e644";
}

.icon-xiugaimima:before {
  content: "\e653";
}

.icon-wodeshoucang:before {
  content: "\e62f";
}

.icon-lishijilu:before {
  content: "\e85f";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-sousuo_o:before {
  content: "\eb86";
}

.icon-shangchuantupian:before {
  content: "\e61e";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-pinglun:before {
  content: "\e641";
}

.icon-bi:before {
  content: "\e617";
}

.icon-zhuanfa1:before {
  content: "\e63d";
}

.icon-houtui:before {
  content: "\e62d";
}

.icon-yonghu:before {
  content: "\e624";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-fabu:before {
  content: "\e615";
}

.icon-zhuanfa:before {
  content: "\e628";
}

.icon-huifu:before {
  content: "\e61a";
}

.icon-dianzan:before {
  content: "\ec7f";
}

